.lesson1 section[role=main] {
    /*margin-left: 120px;
    margin-right: 120px;*/
}

.lesson1 #styleRule {
    display:-ms-flexbox;
    height:80%;
    width:100%;
    -ms-flex-align:center;
    -ms-flex-pack:center;
    font-size:xx-large;
}
 
.lesson1 .code {
    padding-left:20px;
    font-size:xx-large;
}

.lesson1 .selector {
    color: limegreen;
}

.lesson1 .property {
    color: yellow;
}

.lesson1 .value {
    color:aqua;
}
.lesson1 .comment {
    color: lightgreen;
}

@media screen and (-ms-view-state: snapped) {
    .lesson1 section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .lesson1 section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}