
.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
    display: -ms-flexbox;
    -ms-flex-direction: column;
}

.homepage button{
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    width: 200px;
    height: 100px;
    margin: 10px;
    padding:5px 25px; /*add some padding to the inside of the button*/
    background:#35b128; /*the color of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    font-size:1.8em;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
