.lesson2 section[role=main] {
    /*margin-left: 120px;
    margin-right: 120px;*/
}
.lesson2 .code {
    font-size: x-large;
}

.lesson2 section[role=document] div#slideDisplay div.numberList .numberList.bold {
    font-weight: bold;
}

.lesson2 section[role=document] div#slideDisplay div.numberList .numberList.color {
    color: yellow;
}

@media screen and (-ms-view-state: snapped) {
    .lesson2 section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .lesson2 section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}